/* 초기화 */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li {list-style: none;}

img {border: 0;}

body {
    /*height: 100vh;*/
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

#layout-section {
    margin-top: 80px;
    min-height: 100vh;
}

#toastMessage {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    z-index: 1000;
    display: none;
}

.success {
    background-color: #4CAF50;
}

.fail {
    background-color: #f44336;
}